<router-outlet></router-outlet>
<!-- Header-->
<header>
  <h1>Lucas Akira Uehara</h1>
  <p>Senior Front-end Engineer</p>
</header>

<div class="container">

  <!-- Introduction-->
  <section class="center">
    <h1>Seja bem-vindo!</h1>
    <p>
      Olá, me chamo <b>Lucas Akira Uehara</b>, mas pode me chamar de <b><i>Akira</i></b>...
    </p>
    <p>
      Desde os meus 12 anos eu comecei a ter contato com o mundo tecnologico
    </p>
  </section>

  <hr>

  <!-- Gallery Block-->
  <!-- <section class="gallery">
    <h1 class="center">Gallery</h1>
    <div class="row">
      <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
      <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
      <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
      <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
      <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
      <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
    </div>
  </section> -->

  <hr>

  <!-- Testimonials-->
  <!-- <section class="testimonial">
    <div class="row">
      <div class="grid-2">
        <img src="assets/img/re.png">
        <h2>Their Name</h2>
        <p>You can use this as a place to put recommendations, accolades and testimonials</p>
      </div>

      <div class="grid-2">
        <img src="assets/img/re.png">
        <h2>Their Name</h2>
        <p>You can use this as a place to put recommendations, accolades and testimonials</p>
      </div>

      <div class="grid-2">
        <img src="assets/img/re.png">
        <h2>Their Name</h2>
        <p>You can use this as a place to put recommendations, accolades and testimonials</p>
      </div>
    </div>
  </section> -->
</div> <!-- End container-->

<!-- Spotlight -->
<!-- <section class="spotlight">
  <div class="container">
    <div class="row">
      <div class="grid-3">
        <img src="assets/img/spotlight.jpg">
      </div>
      <div class="grid-3">
        <h1>Project Spotlight</h1>
        <p>Give a brief description of what this project is and what role you played. It can also be helpful to include
          a link</p>
        <a href="#">View Project</a>
      </div>
    </div>
  </div>
</section> -->


<!-- New container-->
<div class="container">

  <section class="education">
    <h2>Bacharel em Sistemas de Informação pela Universidade Anhanguera - Campus Marte (antiga UNIBAN) - Fev. 2010 - Dez. 2014</h2>
  </section>

  <hr>

  <!--Experience Tables-->
  <section class="experience">
    <div class="row">
      <div class="grid-2">
        <h2>Company Name</h2>
        <p>Nov. 2013 - Dec. 2014</p>
      </div>
      <div class="grid-4">
        <ul>
          <li>This is a place to give highlights of your work and responsibilities</li>
          <li>This is a place to give highlights of your work and responsibilities</li>
          <li>This is a place to give highlights of your work and responsibilities. This is an example of a longer block
            with more text.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="grid-2">
        <h2>Company Name</h2>
        <p>Jun. 2015 - Out. 2017</p>
      </div>
      <div class="grid-4">
        <ul>
          <li>This is a place to give highlights of your work and responsibilities</li>
          <li>This is a place to give highlights of your work and responsibilities</li>
          <li>This is a place to give highlights of your work and responsibilities. This is an example of a longer block
            with more text.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="grid-2">
        <h2>Nextt</h2>
        <p>Set. 2010 - Mai. 2015</p>
      </div>
      <div class="grid-4 ">
        <h3>Analista Programador - Sênior</h3>
        <ul>
          <li>Criador e responsável pelo produto NexttEcommerce;</li>
          <li>Implantação e estabilização de Produtos (softwares) em clientes de grande porte em varejo;</li>
          <li>Liderar equipe de desenvolvimento;</li>
        </ul>
      </div>
      <div class="grid-4 offset-2">
        <h3>Programador - Pleno</h3>
        <ul>
          <li>Análisar demanda dos clientes e oferecer soluções criativas;</li>
          <li>Treinar novos estágiarios;</li>
          <li>Liderar equipe de desenvolvimento, priorizando prazo x demanda;</li>
        </ul>
      </div>
      <div class="grid-4 offset-2">
        <h3>Programador - Júnior</h3>
        <ul>
          <li>Desenvolver 'features' novas para o sistema com base em análise;</li>
          <li>Criar novas interfaces em Windows Forms com base em solicitações dos clientes;</li>
          <li>Responsável pelos projetos EstoqueLoja e FrenteCaixa;</li>
        </ul>
      </div>
      <div class="grid-4 offset-2">
        <h3>Programador - Estagiário</h3>
        <ul>
          <li>Manutenções periódicas em código-fonte;</li>
          <li>Melhoria contínua em código-fonte baseado na linguagem C#;</li>
          <li>Melhoria contínua em scripts SQL para banco de dados SQL Server;</li>
          <li>Atender a chamados com urgência em clientes;</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <!--List of skills-->
    <div class="row">
      <div class="grid-2">
        <h1>Skills</h1>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>AngularJs</li>
          <li>Angular</li>
          <li>ReactJs</li>
          <li>VueJs</li>
          <li>Sass</li>
          <li>Gulp</li>
          <li>Webpack</li>
          <li>NPM</li>
          <li>Git</li>
          <li>NodeJs</li>
          <li>Docker</li>
          <li>AWS</li>
          <li>Azure</li>
        </ul>
      </div>

      <div class="grid-4">
        <h1>In Conclusion</h1>
        <p>
          This is a good spot to highlight experiance and skills. Make sure to include a call to action like a link to
          your website, or your email address.
          If you find bugs, want features, or have questions, feel free to submit an <a
            href="https://github.com/philipcdavis/responsive-resume/issues">issue</a>. You are free to use without
          attribution.
          If you're ok sharing, I would love seeing what you make! Shoot me an
          <a href="mailto:Phillysoul11@gmail.com?Subject=Responsive%20Resume" target="_top">email</a> or
          <a href="http://www.twitter.com/philipcdavis">tweet</a> at me.
        </p>
      </div>
    </div>
  </section>



  <!--Footer-->
  <footer class="center">
    <hr>
    <span>&copy; Lucas Akira Uehara 2019</span>
  </footer>

</div><!-- End Container -->
