<!-- Header-->
<header>
  <h1>Lucas Akira Uehara</h1>
  <p>Senior Front-end Engineer</p>
</header>

<main class="container">
  <div class="container">

    <!-- Introduction-->
    <article class="center">
      <h2>Seja bem-vindo!</h2>
      <h3>
        Olá, me chamo <b>Lucas Akira Uehara</b>, mas pode me chamar de <b><i>Akira</i></b>.
      </h3>
      <p>
        <i>
          <strong>Como</strong> Front-end <strong>posso</strong> criar aplicações WEB complexas, interfaces inteligentes
          e
          animadas, com base em pesquisas de UX e UI
          <strong>para</strong> que o cliente tenha a melhor experiência de navegabilidade.</i>
      </p>
      <hr>
      <p class="text-left">
        Atualmente estou me especializando em front-end, pois com a tecnologia avançando em ritmo acelerado,
        você tem acesso a milhares de dispositivos com interfaces de diferentes tamanhos, vide smartphones, tablets,
        notebooks, PCs, SmartTvs e etc.
      </p>
      <p class="text-center">
        <i>Mas todos esses dispositivos tem um ponto em comum...?!</i><br>
        <i>Isso mesmo! O acesso a internet, e com isso a milhares de sites, blogs, rede sociais, aplicativos e etc.</i>
      </p>
      <p class="text-left">
        E com todo esse avanço, conseguimos de certa forma compartilhar a mesma experiência em diversos dispositivos,
        através das aplicações WEB.
      </p>
      <p class="text-left">E para desenvolver essas aplicações, utilizo como liguagem de programação base, o Javascript.
        Uma liguagem tão versátil, que roda tanto na camada do cliente quanto na camada do servidor.
      </p>
    </article>

    <hr>

    <!-- Gallery Block-->
    <!-- <section class="gallery">
      <h1 class="center">Gallery</h1>
      <div class="row">
        <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
        <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
        <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
        <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
        <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
        <a href="#"><img src="assets/img/re.png" class="grid-2"></a>
      </div>
    </section> -->

    <!-- <hr> -->

    <!-- Testimonials-->
    <!-- <section class="testimonial">
      <div class="row">
        <div class="grid-2">
          <img src="assets/img/re.png">
          <h2>Their Name</h2>
          <p>You can use this as a place to put recommendations, accolades and testimonials</p>
        </div>

        <div class="grid-2">
          <img src="assets/img/re.png">
          <h2>Their Name</h2>
          <p>You can use this as a place to put recommendations, accolades and testimonials</p>
        </div>

        <div class="grid-2">
          <img src="assets/img/re.png">
          <h2>Their Name</h2>
          <p>You can use this as a place to put recommendations, accolades and testimonials</p>
        </div>
      </div>
    </section> -->
  </div> <!-- End container-->

  <!-- Spotlight -->
  <!-- <section class="spotlight">
    <div class="container">
      <div class="row">
        <div class="grid-3">
          <img src="assets/img/spotlight.jpg">
        </div>
        <div class="grid-3">
          <h1>Project Spotlight</h1>
          <p>Give a brief description of what this project is and what role you played. It can also be helpful to include
            a link</p>
          <a href="#">View Project</a>
        </div>
      </div>
    </div>
  </section> -->


  <!-- New container-->
  <div class="container">

    <section class="education">
      <h2>Bacharel em Sistemas de Informação pela Universidade Anhanguera - Campus Marte (antiga UNIBAN) - Fev. 2010 -
        Dez. 2014</h2>
      <hr>
      <h2>Microsoft Certified Professional - MCP</h2>
      <hr>
      <a href="https://www.slideshare.net/slideshow/embed_code/key/m9somj8MTapSZ1" target="_blank"
        rel="noopener, noreferrer">
        <h2>Microsoft Specialist: Html, Css and Javascript - MS</h2>
      </a>

    </section>

    <hr>

    <!--Experience Tables-->
    <section class="experience">
      <div class="row">
        <div class="grid-2">
          <h2>Neon</h2>
          <p>Mar. 2019 - hoje</p>
        </div>
        <div class="grid-4">
          <h2>Senior Front-end Engineer / Designer</h2>
          <ul>
            <li>Responsável por estruturar toda camada visual;</li>
            <li>Responsável por estruturar todo o projeto com CI/CD, testes unitários, cobertura de testes em código e
              migracação de tecnologias; </li>
            <li>Trabalhar juntamente com DesignOps para criação de componentes Angular;</li>
            <li>Responsável pela Performance do site e blogs;</li>
            <li>Responsável pela SEO do site e blogs do Neon.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <h2>Serasa Experian</h2>
          <p>Mai. 2018 - Mar. 2019</p>
        </div>
        <div class="grid-4">
          <h2>Front-end Enginner</h2>
          <ul>
            <li>Resposável por arquitetar toda camada visual;</li>
            <li>Aplicar a transformação digital com meio de boas práticas (agile, scrum, kanban);</li>
            <li>Aplicar cultura DevOps para facilitar migração de tecnologia para Cloud nas stacks de Front-end.</li>
          </ul>
        </div>
        <div class="grid-2">
          <h2>Projetos</h2>
        </div>
        <div class="grid-4">
          <h3>Serasa Empreendedor</h3>
          <ul>
            <li>Responsável por arquitetar a camada visual do Portal Serasa Empreendedor;</li>
            <li>Responsável por desenvolver toda estrutura de CI/CD com base em orientações das equipes DevOps;</li>
            <li>Desenvolver todo o portal com base em boas práticas e juntamente com stack de transformação digital.
            </li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>Serasa Grande Empresa</h3>
          <ul>
            <li>Responsável por arquitetar a camada visual e migrar tecnologia do Portal Grande Empresa;</li>
            <li>Responsável por desenvolver toda estrutura de CI/CD com base em orientações das equipes DevOps;</li>
            <li>Desenvolver todo o portal com base em boas práticas e juntamente com stack de transformação digital.
            </li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>@serasa-experian/components</h3>
          <ul>
            <li>Responsável por arquitetar toda a stack para criação de bibliotecas de componentes com base no Angular;
            </li>
            <li>Alinhar com time de DesignOps para criação de novos componentes para o Guide-line;</li>
            <li>Suportar outras squads de front-end para fortificar o reuso de componentes para aumentar performance em
              desenvolvimento.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <h2>Iteris</h2>
          <p>Jul. 2016 - Mai. 2018</p>
        </div>
        <div class="grid-4">
          <h2>Consultor de TI</h2>
          <ul>
            <li>Ter como foco a transformação digital da empresa contratante;</li>
            <li>Desenvolver demanda de projetos em clientes de grande porte;</li>
            <li>Treinar novos estagiários e juniores.</li>
          </ul>
        </div>
        <div class="grid-2">
          <h2>Projetos e empresas</h2>
        </div>
        <div class="grid-4">
          <h3>Easynvest</h3>
          <p>Mar. 2018 - Mai. 2018</p>
          <ul>
            <li>Desenvolver projeto de Front-end para a área autenticado do portal da Easynvest;</li>
            <li>Desenvolver e manter os componentes em ReactJs para biblioteca easyguide;</li>
            <li>Apoiar Squad de Front-end;</li>
            <li>Apoiar as equipes internas da Rede com foco em transformação digital.</li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>Rede</h3>
          <p>Ago. 2017 - Mar. 2018</p>
          <ul>
            <li>Desenvolver projeto de Front-end para a área autenticado do portal da Rede;</li>
            <li>Liderar Squad de Front-end;</li>
            <li>Apoiar as equipes internas da Rede com foco em transformação digital.</li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>Itaú</h3>
          <p>Ago. 2016 - Ago. 2017</p>
          <ul>
            <li>Desenvolver projeto de Front-end para o Setor de Atedimento Digital do portal do Itaú;</li>
            <li>Apoiar Squad de Front-end;</li>
            <li>Apoiar as equipes internas do Itaú com foco em transformação digital.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="grid-2">
          <h2>Nextt</h2>
          <p>Jul. 2010 - Jul. 2016</p>
        </div>
        <div class="grid-4 ">
          <h3>Analista Programador - Sênior</h3>
          <ul>
            <li>Criador e responsável pelo produto NexttEcommerce;</li>
            <li>Implantação e estabilização de Produtos (softwares) em clientes de grande porte em varejo;</li>
            <li>Liderar equipe de desenvolvimento;</li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>Programador - Pleno</h3>
          <ul>
            <li>Análisar demanda dos clientes e oferecer soluções criativas;</li>
            <li>Treinar novos estágiarios;</li>
            <li>Liderar equipe de desenvolvimento, priorizando prazo x demanda.</li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>Programador - Júnior</h3>
          <ul>
            <li>Desenvolver 'features' novas para o sistema com base em análise;</li>
            <li>Criar novas interfaces em Windows Forms com base em solicitações dos clientes;</li>
            <li>Responsável pelos projetos EstoqueLoja e FrenteCaixa.</li>
          </ul>
        </div>
        <div class="grid-4 offset-2">
          <h3>Programador - Estagiário</h3>
          <ul>
            <li>Manutenções periódicas em código-fonte;</li>
            <li>Melhoria contínua em código-fonte baseado na linguagem C#;</li>
            <li>Melhoria contínua em scripts SQL para banco de dados SQL Server;</li>
            <li>Atender a chamados com urgência em clientes.</li>
          </ul>
        </div>
      </div>
    </section>

    <hr>

    <section>
      <!--List of skills-->
      <div class="row">
        <div class="grid-2">
          <h1>Skills</h1>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>ES6</li>
            <li>AngularJs</li>
            <li>Angular</li>
            <li>ReactJs</li>
            <li>VueJs</li>
            <li>SEO</li>
            <li>PWA</li>
            <li>Performance (PageSpeed)</li>
            <li>Sass</li>
            <li>Gulp</li>
            <li>Webpack</li>
            <li>NPM</li>
            <li>Git</li>
            <li>NodeJs</li>
            <li>Docker</li>
            <li>AWS</li>
            <li>Azure</li>
            <li>DevOps</li>
            <li>Jenkins</li>
            <li>Bitbucket</li>
          </ul>
        </div>

        <div class="grid-4">
          <h1>Informações para contato</h1>
          <p>
            E-mail: <a href="mailto:akirauehara@hotmail.com">akirauehara@hotmail.com</a>
            <br>
            Linkedin: <a href="https://www.linkedin.com/in/lucasakirauehara/" target="_blank"
              rel="noopener, noreferrer">Lucas Akira Uehara</a>
            <br>
            Github: <a href="https://github.com/KsAkira10" target="_blank" rel="noopener, noreferrer">KsAkira10</a>
            <br>
            NPM: <a href="https://www.npmjs.com/search?q=%40ksakira10" target="_blank"
              rel="noopener, noreferrer">@ksakira10</a>
          </p>
        </div>
      </div>
    </section>

  </div>
  <!-- End Container -->
</main>

<!--Footer-->
<footer class="center">
  <hr>
  <span>&copy; Lucas Akira Uehara 2019</span>
</footer>
